<h1 mat-dialog-title>Edición {{elementogrupo.c_valor}}</h1>
<form class="example-container" #newForm="ngForm" (ngSubmit)="AlertaGuardadoElemento(newForm)">
  <div mat-dialog-content class="contenedor">

    <mat-form-field appearance="fill">
      <mat-label>Elige un Sub Grupo</mat-label>
      <mat-select [(ngModel)]="elementogrupo.c_subgrupo" name="c_subgrupo" required>
        <mat-option *ngFor="let subgrupo of subGrupos" [value]="subgrupo.value">
          {{subgrupo.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Nombre" name="c_valor" #c_username="ngModel" [(ngModel)]="elementogrupo.c_valor"
        minlength="2" maxlength="100" required />
      <mat-hint class="error" *ngIf="elementogrupo.c_valor.length<2">Debe agregar algun valor</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Descripción" name="c_descripcion" #c_username="ngModel"
        [(ngModel)]="elementogrupo.c_descripcion" />
    </mat-form-field>

  </div>
  <div mat-dialog-actions>

    <button mat-button type="submit" cdkFocusInitial [disabled]="!newForm.form.valid||elementogrupo.c_valor.length<2">
      <mat-icon>save</mat-icon>
      <span>Guardar</span>
    </button>
  </div>

</form>
