<app-menu>
  <div class="contenedorBody">
    <h2> MAPA Y EXPORTACION</h2>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Filtros y Exportación de Datos
          </mat-panel-title>
          <mat-panel-description>
            Pulsar para desplegar las opciones
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field>
          <mat-select placeholder="Departamento">
            <mat-option value="0" (click)="selectdepartamento(0)">
              -TODOS-
            </mat-option>
            <mat-option *ngFor="let item of departamentos" [value]="item.n_idgen_departamento"
              (click)="selectdepartamento(item.n_idgen_departamento)">
              {{item.c_nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field style="margin-left: 10px;">
          <mat-select placeholder="Provincia">
            <mat-option value="0" (click)="selectprovincia(0)">
              -TODOS-
            </mat-option>
            <mat-option *ngFor="let item of provincias" [value]="item.n_idgen_provincia"
              (click)="selectprovincia(item.n_idgen_provincia)">
              {{item.c_nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field style="margin-left: 10px;">
          <mat-select placeholder="Distrito">
            <mat-option value="0" (click)="selectdistrito(0)">
              -TODOS-
            </mat-option>
            <mat-option *ngFor="let item of distritos" [value]="item.n_idgen_distrito"
              (click)="selectdistrito(item.n_idgen_distrito)">
              {{item.c_nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field style="margin-left: 10px;">
          <mat-select placeholder="Centro Poblado">
            <mat-option value="0" (click)="selectcentropoblado(0)">
              -TODOS-
            </mat-option>
            <mat-option *ngFor="let item of centropoblados" [value]="item.n_idgen_centropoblado"
              (click)="selectcentropoblado(item.n_idgen_centropoblado)">
              {{item.c_nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field style="margin-left: 10px;">
          <mat-select placeholder="Entidad">
            <mat-option value="0" (click)="selectentidad(0)">
              -TODOS-
            </mat-option>
            <mat-option *ngFor="let item of entidades" [value]="item.n_idgen_entidad"
              (click)="selectentidad(item.n_idgen_entidad)">
              {{item.c_name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!--Agregamos el periodo-->
        <mat-form-field style="margin-left: 10px;">
          <mat-select placeholder="Periodo">
            <mat-option value="0" (click)="selectperiodo(0)">
              -TODOS-
            </mat-option>
            <mat-option *ngFor="let item of periodos" [value]="item.n_idgen_periodo"
              (click)="selectperiodo(item.n_idgen_periodo)" required>
              {{item.c_descripcion}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!--Agregamos el Usuario-->
        <mat-form-field>
          <mat-select placeholder="Usuario">
            <mat-option value="0" (click)="selectusuario(0)">
              -TODOS-
            </mat-option>
            <mat-option *ngFor="let item of usuarios" [value]="item.n_idseg_user"
              (click)="selectusuario(item.n_idseg_user)" required>
              {{item.c_username}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!--Agregamos el mantenimiento-->
        <mat-form-field style="margin-left: 10px;">
          <mat-select placeholder="Tipo Mantenimiento">
            <mat-option value="0" (click)="selectmantenimiento(0)">
              -TODOS-
            </mat-option>
            <mat-option *ngFor="let item of mantenimientos" [value]="item.n_idgen_tipoprograma"
              (click)="selectmantenimiento(item.n_idgen_tipoprograma)">
              {{item.c_descripcion}}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <mat-card-actions>
          <button mat-button color="primary" (click)="get();">FILTRAR</button>
        </mat-card-actions>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-card>
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [mapTypeControl]='true' [mapTypeId]="'hybrid'">
        <agm-marker-cluster [maxZoom]="18" imagePath="http://35.184.146.235/Multimedia/Nama/images/m">
          <agm-marker *ngFor="let marker of markers " [latitude]="marker.lat" [longitude]="marker.lng"
            [opacity]="marker.alpha" [iconUrl]="
                        {
                            url:'./assets/mapa/'+marker.data.c_tipo,
                            scaledSize:
                            {
                                width: 60,
                                height:90
                            }
                        }" (markerClick)="clicked(marker)">
            <agm-info-window #infowindow>
              <h3>Datos del Registro</h3>
              <div id="cris2" #cris2>
                <div>
                  <div class="contenedor">
                    <p> <strong>Código: </strong> {{marker.data.c_codigo}}</p>
                    <p> <strong>Departamento: </strong> {{marker.data.c_departamento}}</p>
                    <p> <strong>Provincia: </strong>{{marker.data.c_provincia}}</p>
                    <p> <strong>Distrito: </strong> {{marker.data.c_distrito}}</p>
                    <p> <strong>Localidad: </strong> {{marker.data.c_centropoblado}}</p>
                    <p> <strong>Usuario: </strong> {{marker.data.c_username}}</p>
                    <p> <strong>Entidad: </strong> {{marker.data.c_entidad}}</p>
                    <p> <strong>Fecha de Registro:</strong> {{marker.fechamantenimiento}}</p>

                    <p><strong>Periodo:</strong> {{marker.data.c_periodo}}</p>
                    <p><strong>Mantenimiento:</strong> {{marker.data.c_tipo_nombre}}</p>
                  </div>
                </div>
                <h3>Datos Personales</h3>
                <div class="contenedor">
                  <p> <strong>DNI: </strong> {{marker.data.c_dni}}</p>
                  <p> <strong>Nombres: </strong> {{marker.data.c_nombres}}</p>
                  <p> <strong>Ap. Paterno: </strong> {{marker.data.c_appaterno}}</p>
                  <p> <strong>Ap. Materno: </strong> {{marker.data.c_apmaterno}}</p>
                </div>

                <br>
                <button mat-raised-button color="primary" (click)="downloadMantenimiento2(marker.data)">Descargar
                  Ficha Mantenimiento</button>
                &nbsp;
                <button mat-raised-button color="primary" (click)="downloadInspeccion(marker.data)">Descargar
                  Ficha Inspección</button>                
                
                <h3>Fotos de la Encuesta</h3>
                <div class="contenedor">
                  <div *ngFor="let detalle of detalles" style="width: 190px; height: auto; margin:5px">
                    
                    <a target="_blank" href="{{detalle.c_nombrefoto}}" style="text-decoration: none;">
                      <mat-card class="example-card">

                        <img mat-card-image src="{{detalle.c_nombrefoto}}" style="height: 150px;" alt="">
                        <p style="width:100%; color:black;">
                          {{detalle.c_tipo}}
                        </p>
                        <!--
                                            <mat-card-actions>
                                                <button mat-icon-button color="primary"
                                                    aria-label="Example icon button with a menu icon">
                                                    <mat-icon>search</mat-icon>
                                                </button>
                                            </mat-card-actions>-->
                      </mat-card>
                    </a>
                    <!-- <div class="picsum-img-wrapper">
                                        <h4></h4>
                                      </div>
                                    <li>
                                        {{detalle.c_nombrefoto}}
                                        <img src="{{detalle.c_nombrefoto}}" alt="" width="550" height="350">
                                    </li>-->

                  </div>
                </div>


                <br>

                <!--<button (click)="download(marker.data)" name="btnDescargar" ></button>-->
                <!--<h3>Foto de la Encuesta</h3>-->
                <!--<img [src]="marker.data.c_nombrefoto" style="width: 100%;  height: auto;" />-->
              </div>
            </agm-info-window>
          </agm-marker>
        </agm-marker-cluster>
      </agm-map>
    </mat-card>
  </div>

</app-menu>
