<h1 mat-dialog-title>Edición {{atributo.c_valor}}</h1>
<form class="example-container" #newForm="ngForm" (ngSubmit)="guardar(newForm)">
  <div mat-dialog-content class="contenedor">

    <mat-form-field>
      <input matInput placeholder="Nombre" name="c_valor" #c_username="ngModel" [(ngModel)]="atributo.c_valor"
        minlength="2" maxlength="100" required />
        <mat-hint class="error" *ngIf="atributo.c_valor.length<2">Debe agregar algun valor</mat-hint>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Descripción" name="c_descripcion" #c_username="ngModel" [(ngModel)]="atributo.c_descripcion"
          />
      </mat-form-field>

  </div>
  <div mat-dialog-actions>

    <button mat-button type="submit" cdkFocusInitial
      [disabled]="!newForm.form.valid||atributo.c_valor.length<2">
      <mat-icon>save</mat-icon>
      <span>Guardar</span>
    </button>
  </div>
</form>
