<h1 mat-dialog-title>Edición {{equipo.producto}}</h1>
<form class="example-container" #newForm="ngForm" (ngSubmit)="AlertaGuardadoElemento(newForm)">
  <div mat-dialog-content class="contenedor">

    <mat-form-field>
      <input matInput placeholder="Producto" name="producto" #c_username="ngModel"
        [(ngModel)]="catalogo.producto" required/>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Modelo" name="modelo" #c_username="ngModel"
        [(ngModel)]="catalogo.modelo" required/>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Marca" name="marca" #c_username="ngModel"
        [(ngModel)]="catalogo.marca" required/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Estado</mat-label>
      <mat-select [(ngModel)]="equipo.estado" name="estado" required>
            <mat-option *ngFor="let estado of estados" [value]="estado.value">
            {{estado.viewValue}}
          </mat-option>
      </mat-select>
  </mat-form-field>  

  </div>
  <div mat-dialog-actions>

    <button mat-button type="submit" cdkFocusInitial [disabled]="!newForm.form.valid">
      <mat-icon>save</mat-icon>
      <span>Guardar</span>
    </button>
  </div>

</form>
