<app-menu>
  <form [formGroup]="form" (ngSubmit)="saveProducts($event)">
    <div class="contenedorBody">
      <h2>Informe de Incidencias</h2>
      <div class="cabecera">
        <mat-form-field appearance="" style="width: 45%;" >
          <mat-label>Código del Personal Soporte Técnico:</mat-label>
          <mat-select [disabled]="disableSelect.value" required>
            <mat-option (click)="cambiarIdST(option.id_soportetecnico)" *ngFor="let option of soportestecnicos" [value]="option.id_soportetecnico">
                {{option.nombres + ' ' + option.apellidos}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="cabecera">
        <mat-label>Incidencia:</mat-label>
          <mat-form-field appearance="" [ngStyle]="{'width':'50%'}">
              <mat-label>Elije una Incidencia</mat-label>
              <mat-select [disabled]="disableSelect.value">
                  <mat-option (click)="selectIncidencia(option.id_incidencia)" *ngFor="let option of idsIncidenciasPend" [value]="option">
                    {{option.desInc}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
      </div>

      <div class="cabecera">
        <div>
          <p>¿Problema Software?</p>
          <mat-slide-toggle (click)="cambiarBoolS(!boolS)"></mat-slide-toggle>
        </div>
        <div>
          <p>¿Problema Hardware?</p>
          <mat-slide-toggle (click)="cambiarBoolH(!boolH)"></mat-slide-toggle>
        </div>
      </div>

      <!-- Sección que aparecen de acuerdo a la elección de arriba  -->
      <div class="cabecera">
        <!-- Este div aparece si elije software -->
        <div *ngIf="boolS" class="section-boolS-boolH">
          <span><u>Componente Software</u></span>
          <div class="section-boolS-boolH-group">
            <mat-label>Software:</mat-label>
            <mat-form-field class="selection-form-field" appearance="">
                <mat-label>Elije el Componente Software</mat-label>
                <mat-select [disabled]="disableSelect.value">
                    <mat-option *ngFor="let option of catalogosST" [value]="option.id_catalogo">
                      {{option.producto}} - {{option.modelo}} - {{option.marca}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
          </div>
        </div>

        <!-- Este div aparece si elije hardware -->
        <div *ngIf="boolH" class="section-boolS-boolH">
          <span><u>Componente Hardware</u></span>
          <div class="section-boolS-boolH-group">
            <mat-label>Defectuoso:</mat-label>
            <mat-form-field class="selection-form-field" appearance="">
                <mat-label>Elije el componente dectuoso</mat-label>
                <mat-select [disabled]="disableSelect.value">
                    <mat-option (click)="selectComponenteHardware(option.id_componente)" *ngFor="let option of componentesHW" [value]="option.id_componente">
                        {{option.detalle_componente}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
          </div>
          <br>
          <div class="section-boolS-boolH-group">
            <mat-label>Nuevo:</mat-label>
            <mat-form-field class="selection-form-field" appearance="">
                <mat-label>Elije el componente nuevo</mat-label>
                <mat-select [disabled]="disableSelect.value">
                    <mat-option *ngFor="let option of catalogosHWProducto" [value]="option.id_catalogo">
                      {{option.producto}} - {{option.modelo}} - {{option.marca}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
          </div>
        </div>

      </div>
    </div>

    <a [ngStyle]="{'margin-bottom':'10px', 'align-content': 'center','margin': '1% 50%'}"
    routerLink="/asignarincidencia" mat-raised-button color="primary">GUARDAR</a>

  </form>
</app-menu>
