<app-menu>
  <button mat-raised-button color="primary" (click)="downloadFormatoReparto()">Descargar
    Reparto Masivo</button>

  <div class="progress progress-striped active" style="margin: 5px; float:left">
    <div style="margin: 5px;" *ngIf="edited==true" class="alert alert-success alert-dismissible fade in" role="alert">
      <strong style="font-size: small;">Descargando {{i-1}} de {{cantidad}}</strong>
      <mat-spinner style="margin-left: 20px;" diameter="25"></mat-spinner>
    </div>
  </div>
</app-menu>
