<h1 mat-dialog-title>Edición</h1>

  <form class="example-container" #newForm="ngForm" (ngSubmit)="AlertaGuardadoElemento(newForm)">
    <div mat-dialog-content class="contenedor">
  
      <mat-form-field>
        <mat-label >Elige un Elemento Grupo</mat-label>
        <mat-select [(ngModel)]="elementoespecificacion.n_idins_elementogrupo" name="n_idins_elementogrupo" required>
          <mat-option *ngFor="let subgrupo of gruposElementosGrupo" [value]="subgrupo.value">
            {{subgrupo.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

  
      <mat-form-field>
        <input matInput placeholder="Tipo" name="c_tipo" #c_username="ngModel"
          [(ngModel)]="elementoespecificacion.c_tipo" />
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Marca" name="c_marca" #c_username="ngModel"
          [(ngModel)]="elementoespecificacion.c_marca" minlength="2" required />
        <mat-hint class="error" *ngIf="elementoespecificacion.c_marca.length<2">Debe agregar alguna marca</mat-hint>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Modelo" name="c_modelo" #c_username="ngModel"
          [(ngModel)]="elementoespecificacion.c_modelo" minlength="2" required />
        <mat-hint class="error" *ngIf="elementoespecificacion.c_modelo.length<2">Debe agregar algún modelo</mat-hint>
      </mat-form-field>
  
    </div>
    <div mat-dialog-actions>
  
      <button mat-button type="submit" cdkFocusInitial
        [disabled]="!newForm.form.valid||elementoespecificacion.n_idins_elementogrupo==0||elementoespecificacion.c_marca.length<2||elementoespecificacion.c_modelo.length<2">
        <mat-icon>save</mat-icon>
        <span>Guardar</span>
      </button>
    </div>
  
  </form>


