table {
    width: 100%;
  }
  
  .contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .contenedorBody {
    margin: 1%;
  }
  .allspace{
    width: 20%;
  }