<app-menu>
    <div class="contenedorBody">
      <h2> ADMINISTRACIÓN DE ELEMENTO ESPECIFICACIÓN</h2>
      <br/>
      <mat-card>
        <div>
          <mat-form-field class="allspace" >
            <mat-label >Elige un Elemento Grupo</mat-label>
            <mat-select >
              <mat-option *ngFor="let subgrupo of gruposElementosGrupo" [value]="subgrupo.value"
              (click)="selectgrupo(subgrupo.value)">
                {{subgrupo.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field style="margin-left: 10px;">
            <mat-select placeholder="Tipo" >
              <mat-option *ngFor="let item of tipos" [value]="item.c_tipo"
                (click)="selecttipo(item.c_tipo)">
                {{item.c_tipo}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    
          <mat-form-field style="margin-left: 10px;">
            <mat-select placeholder="Marca">
              <mat-option *ngFor="let item of marcas" [value]="item.c_marca"
                (click)="selectmarca((item.c_marca))">
                {{item.c_marca}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    
          <mat-form-field style="margin-left: 10px;">
            <mat-select placeholder="Modelo">
              <mat-option *ngFor="let item of modelos" [value]="item.c_modelo"
                (click)="selectmodelo((item.c_modelo))">
                {{item.c_modelo}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        

        <mat-form-field>
          <input matInput placeholder="Buscar" [(ngModel)]="textfilter" (keyup)="applyFilter($event.target.value)">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <table mat-table [dataSource]="tablaElementoEspecificacion" matSort class="mat-elevation-z8">
          <ng-container matColumnDef="editar">
            <th mat-header-cell *matHeaderCellDef> <button mat-icon-button color="primary" (click)="openDialog(null)">
                <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
              </button> </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="primary" (click)="openDialog(element)">
                <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
              </button>
            </td>
          </ng-container>
          <ng-container matColumnDef="c_valor">
            <th mat-header-cell *matHeaderCellDef color="error"> Valor </th>
            <td mat-cell *matCellDef="let element"> {{element.c_valor}} </td>
          </ng-container>
          <ng-container matColumnDef="c_tipo">
            <th mat-header-cell *matHeaderCellDef color="error"> Tipo </th>
            <td mat-cell *matCellDef="let element"> {{element.c_tipo}} </td>
          </ng-container>
          <ng-container matColumnDef="c_marca">
            <th mat-header-cell *matHeaderCellDef color="error"> Marca </th>
            <td mat-cell *matCellDef="let element"> {{element.c_marca}} </td>   
          </ng-container>
          <ng-container matColumnDef="c_modelo">
            <th mat-header-cell *matHeaderCellDef color="error"> Modelo </th>
            <td mat-cell *matCellDef="let element"> {{element.c_modelo}} </td>
          </ng-container>
          <!-- Button Eliminar -->
          <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Eliminar </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="error" (click)="eliminar(element)">
                <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
  
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <ng-template let-row matRowDef cdkVirtualFor [matRowDefColumns]="displayedColumns">
            <tr mat-row></tr>
  
          </ng-template>
  
        </table>
  
        <mat-paginator [pageSizeOptions]="pagin" showFirstLastButtons></mat-paginator>
      </mat-card>
    </div>
  </app-menu>
